<%- include('partials/header') %>

<div id="logreg-forms">
    
        <h1 class="h3 mb-5 font-weight-normal p-4 mt-4" style="text-align: center">CForms</h1>
        <div class="social-login text-center">
            <a href="/login/google" class="btn google-btn social-btn" type="button"><span><i class="fab fa-google"></i> Sign in with Google</span> </a>
        </div>
        
      

       
        <br>
        
</div>

<%- include('partials/footer') %>